*.o
*.a
*.trc
*_testenc
*_pclinux*
*.fsdb
*.bin
*.pyc
*.tmp
*.old
*.swp
*.yuv
*.txt
VerdiLog
verdiLog
novas.conf
novas_dump.log
novas.rc
csrc
simv
simv.daidir
INCA_libs
ncverilog.log
ucli.key
ncverilog.key
/system/compiled_mode_*
/hardware/sims/top/testdata*
/hardware/sims/top/simv*
/hardware/sims/top/apb_easy*
/hardware/sims/top/csrc/
/hardware/sims/top/*.csv
/hardware/sims/top/*.key
/hardware/sims/top/*.rc
/hardware/sims/top/verdiLog/
/hardware/sims/top/reports/
/hardware/sims/top/axiapbh2enc/
/hardware/sims/top/axiahbh2enc/
/hardware/sims/top/axih2enc/
/hardware/sims/top/ahbh2enc/
/hardware/sims/top/axiapbh2enc/
/hardware/sims/top/sim_settings.txt
/hardware/sims/top/novas.conf
/hardware/sims/top/transcript
/hardware/sims/top/config.mak
/hardware/sims/top/test_env_params.txt

/hardware/sims/checkers
/hardware/sims/unitsim/*/testdata*
/hardware/sims/unitsim/*/simv*
/hardware/sims/unitsim/*/apb_easy*
/hardware/sims/unitsim/*/csrc/
/hardware/sims/unitsim/*/*.csv
/hardware/sims/unitsim/*/*.key
/hardware/sims/unitsim/*/*.rc
/hardware/sims/unitsim/*/verdiLog/
/hardware/sims/unitsim/*/reports/
/hardware/sims/unitsim/*/axiapbh2enc/
/hardware/sims/unitsim/*/axiahbh2enc/
/hardware/sims/unitsim/*/axih2enc/
/hardware/sims/unitsim/*/ahbh2enc/
/hardware/sims/unitsim/*/axiapbh2enc/
/hardware/sims/unitsim/*/sim_settings.txt
/hardware/sims/unitsim/*/novas.conf
/hardware/sims/unitsim/*/transcript
/hardware/sims/unitsim/*/config.mak
/hardware/sims/unitsim/*/test_env_params.txt
/hardware/sims/unitsim/*/tb.sv
/hardware/sims/unitsim/*/defines.v
/hardware/sims/unitsim/*/json_pp
/hardware/sims/unitsim/*/define_options.txt
/hardware/sims/unitsim/*/read_sw.sv
/hardware/sims/unitsim/*/regr_rpt
/hardware/sims/unitsim/*/regr_logs
scripts/
verify/
